.poi-sheet.dnd5e.sheet.actor .poi-bio {
	max-width: 100%;
	width: 100%;
	height: 100%;
	overflow-y: auto;
	align-content: flex-start;
}

.poi-sheet.dnd5e.sheet.actor .editor {
	padding: 0px;
}

.poi-sheet.dnd5e.sheet.actor .editor .editor-content {
	padding: 0px 5px 0px 0px;
}