div.dmtk-tooltip {
  visibility: visible;
  width: auto;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  text-align: left;
  border-radius: 6px;
  font-size: 1.5rem;
  position: absolute;
  z-index: 10000;
  display: flex;
  flex-direction: column;
	padding: 10px 15px;
}

div.dmtk-tooltip div.section {
  display: flex;
  flex-direction: column;
  justify-content: left;
}

div.dmtk-tooltip div.value {
  display: flex;
  flex-direction: row;
	align-items: center;
  justify-content: left;
}

div.dmtk-tooltip div.value i {
  color: rgb(75, 130, 225);
	width: 40px;
	text-align: center;
	padding-right: 10px;
}

/* Show the tooltip text when you mouse over the tooltip container */
div.dmtk-tooltip.visible {
  visibility: visible;
}
