/*

DELETE THIS LINE (LINE #3) TO DISABLE THIS CSS */

::-webkit-scrollbar {
	height: 6px;
}

button:hover {
	box-shadow: none;
	color: #c53131;
	font-weight: bold;
}

select:hover,
select:focus,
input[type="text"]:hover,
input[type="text"]:focus,
input[type="datetime-local"]:hover,
input[type="datetime-local"]:focus,
.dnd5e input[type="text"]:hover, 
.dnd5e input[type="text"]:focus {
	box-shadow: 0px 0px 5px #ff0000, 0px 0px 5px #c53131;
}

input[type="text"],
input[type="password"],
input[type="datetime-local"],
.dnd5e input[type="text"],
.dnd5e select {
	color: #4b4a44;
}

a:hover,
.tabs .item.active,
.dnd5e.chat-card .card-header h3:hover,
.filepicker .directory > li:hover {
	color: #c53131;
	text-shadow: none;
}

.dnd5e.sheet .sheet-navigation .item.active {
	color: #c53131;
	border-bottom: 3px solid #c53131;
	text-shadow: none;
}

.dnd5e.sheet.item .sheet-header img.profile {
	border: none;
}
/**/

/* FILEPICKER */
.filepicker .display-modes a.active {
  background: #c53131;
  color: #FFF;
  text-shadow: none;
}

.filepicker .tiles-list li.picked {
  box-shadow: 0 0 6px inset #c53131;
  background: #c53131;
}

.filepicker .directory > li.picked {
  background: #c53131;
  color: #FFF;
  font-weight: normal;
}

.filepicker .directory {
  border: none;
  border-top: 1px solid #191813;
  border-left: 1px solid #191813;
}

.filepicker .directory > li:last-child {
  border-bottom: 1px solid #191813;
}

.filepicker .tiles-list {
  width: 501px;
}

.token-tooltip-alt-tooltip-container {
	color: #c53131 !important;
	border: 2px solid #c53131 !important;
}