<form class="{{cssClass}}" autocomplete="off">
	<!-- HEADER -->
	<header class="sheet-header">
		<img class="sheet-profile" src="{{actor.img}}" title="{{actor.name}}" data-edit="img"/>
		<h1 class="charname">
			<input name="name" type="text" value="{{actor.name}}" placeholder="{{ localize 'DND5E.Name' }}"/>
		</h1>
	</header>

	<!-- BODY -->
	<section class="sheet-body">
		<div class="tab biography flexrow">
			<div class="additional-info">
				<div class="section-titles">Description</div>
				{{editor content=data.details.description.value target="data.details.description.value" button=true owner=owner editable=editable}}
			</div>
			<div>
				<div class="section-titles">Background</div>
				{{editor content=data.details.biography.value target="data.details.biography.value" button=true owner=owner editable=editable}}
			</div>
		</div>
	</section>
</form>

